.name{
    border-radius: 20px;
    width: 44em;
    margin: auto;
    display: block;
    padding: 0.3em;
}
.Movie{
    padding: 0.2em;
}
.Class{
    border: 2px solid rebeccapurple;
    border-radius: 20px;
    display: flex;
    font-size: 12px;
}

.Class > span{
    margin-top: 3px;
    margin-left: 10px;
    font-size: 20px;
}