.name{
    border-radius: 20px;
    width: 44em;
    margin: auto;
    display: block;
}
.form{
    position: absolute;
    margin: auto;
    display: block;
    margin-left: 125px;
    margin-top: 140px;
}
.Class{
    display: flex;
    font-size: 12px;
    width: 68em;
    border: 2px solid purple;
}

.Class > span{
    margin-top: 3px;
    margin-left: 10px;
    font-size: 20px;
}