.Caixa{
    border: 1px solid red;
    width: 50em;
    margin: auto;
    display: block;
}
.ico{
    display: block;
    margin-left: 2%;
    border: 1px solid red;
    margin-top: 10px;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: pulse infinite 2s;
}
.title{
    margin-top: -45px;
    margin-left: 8%;
    width: 10em;
}
.IcoCima{
    width: 5em;
    display: block;
    background: transparent;
    border: 1px solid transparent;
    margin-top: -49px;
    margin-left: 90%;
    font-size: 20px;
}
.boxBaixo{
    margin-top: -1px;
    margin-left: -0.5%;
    border: 1px solid transparent;
}
.buttonB > button{
    font-size: 1.3em;
    background: transparent;
    border: 1px solid transparent;
    margin-top: -1px;
    margin-left: 1%;
}
.buttonB > button:nth-child(2){
    margin-left: 10%;
}
.buttonB > button:nth-child(1){
    border: 1px solid transparent;
    display: inline;
    position: absolute;
    margin-top: -0.2em;
}
.buttonB > button:nth-child(4){
    margin-left: 60%;
}
@keyframes pulse {
    0%{
        background-image: linear-gradient(red,green,blue,yellow);
    }
    100%{
        background-image: linear-gradient(rgb(228, 24, 201),rgb(117, 111, 27),rgb(120, 120, 218),rgb(121, 196, 125));
    }
}