.Caixa{
    border: 1px solid gray;
    width: 50em;
    margin-left: 20%;
}

.Box > .ico{
    display: block;
    margin-left: 2%;
    border: 1px solid red;
    margin-top: 10px;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: pulse infinite 2s;
}
.Box > h1{
    margin-top: -36px;
    margin-left: 8%;
    width: 30em;
    font-size: 24px;
}
.Box > button{
    width: 5em;
    display: block;
    background: transparent;
    border: 1px solid transparent;
    margin-top: -25px;
    margin-left: 90%;
    font-size: 20px;
}
.Box > .ico1{
    width: 100%;
    height: 40em;
    margin-top: 35px;
}
.boxBaixo{
    margin-top: -2px;
    width: 50em;
}
.boxBaixo > button{
    font-size: 1.4em;
    background: transparent;
    border: 1px solid transparent;
    margin-left: 5%;
}
.boxBaixo >button:nth-child(1){
    margin-top: -1px;
}
.boxBaixo >button:nth-child(2){
    margin-left: 80%;
    margin-top: -2px;
    width: 1em;
}
.area{
    display: none;
    width: 99.7%;
    resize: none;
    overflow: hidden;
}
.check{
    margin: auto;
    display: block;
    margin-top: -10px;
    margin-left: 10px;
}
@keyframes pulse {
    0%{
        background-image: linear-gradient(red,green,blue,yellow);
    }
    100%{
        background-image: linear-gradient(rgb(228, 24, 201),rgb(117, 111, 27),rgb(120, 120, 218),rgb(121, 196, 125));
    }
}