.Caixa{
    border: 1px solid gray;
    width: 52em;
    margin: auto;
    display: block;
}
.boxCima > h1{
    margin-top: -36px;
    margin-left: 20%;
    width: 30em;
    font-size: 24px;
}
.boxCima > button{
    width: 5em;
    display: block;
    background: transparent;
    border: transparent;
    margin-top: -25px;
    margin-left: 34em;
    font-size: 20px;
}
.Box > .imagemB{
    width: 100%;
    height: 40em;
    margin-top: 1px;
}
.boxBaixo{
    border: 1px solid red;
    margin-top: -5px;
    width: 100%;
}
.boxBaixo > button{
    font-size: 1.4em;
    background: transparent;
    border: 1px solid transparent;
    margin-left: 5%;
}
.boxBaixo >button:nth-child(1){
    margin-top: -1px;
}
.boxBaixo >button:nth-child(2){
    margin-left: 80%;
    margin-top: -2px;
    width: 1em;
}
.area{
    display: none;
    width: 99.7%;
    resize: none;
    overflow: hidden;
}
.check{
    margin: auto;
    display: block;
    margin-top: -10px;
    margin-left: 10px;
}
.navB{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-left: 3em;
    margin-top: 10px;
    animation: pulse infinite 2s;
}
.iconB{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    margin-top: 4px;
    margin-left: 0.3em;
}
.boxCima{
    border: 2px solid red;
    height: 4em;
}
@keyframes pulse {
    0%{
        background-image: linear-gradient(pink,purple,rgb(173, 0, 29));

    }
    100%{
        background-image: linear-gradient(rgb(243, 149, 165),rgb(170, 34, 170),rgb(209, 81, 81));
    }
}