.cima{
    border: 1px solid gray;
    width: 50em;
    margin-left: 20%;
    height: 6em;
    margin-top: 100px;
}
.icons{
    border: 1px solid rgb(248, 80, 136);
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    margin-top: -20px;
    margin-left: 0.5em;
}
.cima > li{
    padding: 1em;
}