.cima{
    border: 1px solid gray;
    width: 50em;
    margin-left: 20%;
    height: 6em;
    margin-top: 100px;
}
.icons{
    border: 1px solid palevioletred;
    border-radius: 50%;
    width: 5.4em;
    height: 5em;
    margin-top: -35px;
    margin-left: -1em;
    background-image: linear-gradient(purple,red,green,black,white);
}
.cima > li{
    padding: 2.4em;
}