@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
.fixed{
    width: 18em;
    height: 36em;
    display: block;
    margin: auto;
    margin-left: 80%;
    margin-top: -54em;
    position: fixed;
}
.imgB{
    display: block;
    border: 1px solid purple;
    width: 5em;
    border-radius: 50%;
    margin-top: 1px;
    margin-left: -5px;
}
.h1{
    width: 5.5em;
    font-size: 0.9em;
    margin-left: 5.8em;
    margin-top: -4em;
    width: 69%;
    height: 2em;
    text-align: left;
}
.name{
    width: 5.3em;
    margin-left: 6em;
}
.url{
    border: 1px solid skyblue;
    height: 3em;
    background: azure;
    border-radius: 50%;
    margin-top: -10px;
}
.ContentB{
    margin-left: 4em;
    margin-top: -3em;
}
.lorem{
    font-size: 12px;
    color: grey;
    opacity: 0.4;
}
h6{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}
.baixo{
    width: 29em;
    height: 11em;
    margin: auto;
    display: block;
    font-size: 7px;
    margin-top: 20px;
}
.tudo{
    margin-top: 10px;
    padding: 0.8em;
    font-family: 'Roboto', sans-serif;
}
.seguir{
    display: block;
    border: 1px solid transparent;
    color: blue;
    background: transparent;
    margin-left: 78px;
    width: 4.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -20px;
}
.seguir:hover{
    color: aqua;
}
.seg{
    display: none;
    border: 1px solid transparent;
    background: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    width: 4.5em;
    margin-left: 78px;
    margin-top: -20px;
}
.seg:hover{
    color: red;
}