.Coisas{
    margin-top: 50px;
}
.mouse{
    border: 1px solid transparent;
}
.pro{
    margin: auto;
    display: block;
    margin-top: 400px;

    font-size: 2em;
}
.Add{
    display: none;
    margin-left: 28.5%;
    border: 1px solid teal;
    background: rgb(102, 101, 101);
    color: white;
    width: 46em;
    height: 39em;
    margin-top: 20px;
}