.Coisas{
    margin-top: 50px;
}
.mouse{
    border: 1px solid transparent;
}
.Add{
    display: none;
    border: 1px solid teal;
    background: rgb(102, 101, 101);
    color: white;
    width: 46em;
    height: 39em;
    margin: auto;
    display: block;
    margin-left: 31%;
    margin-top: 20px;
}