/* Linha */
/* Linha do lado */
/* Name */
/* Icones e perfil */
/*  */
.chat{
    border: 1px solid grey;
    width: 60em;
    height: 50em;
    margin: auto;
    display: block;
    border-radius: 10px;
}
.lado{
    width: 20em;
    margin-left: 321px;
    margin-top: -40px;
    height: 2.4em;
    display: flex;
}
.lado > img{
    width: 2em;
    height: 2em;
    margin-top: -1px;
    margin-left: 10px;
    border-radius: 20px;
}
.lado > h1{
    font-size: 25px;
    margin-left: 10px;
    margin-top: -5px;
}
.lado > p{
    margin-top: 18px;
    margin-left: -85px;
    color: yellowgreen;
}
.icons{
    border: 1px solid grey;
    width: 20em;
    height: 50em;
    border-radius: 10px 0px 0px 10px;
    border-left: transparent ;
    border-bottom: transparent ;
    border-top: transparent ;
}
.icons > h1{
    text-align: center;
}

.ConteúMess > img,.onli > img{
    display: block;
    border-radius: 50%;
    border: 2px solid plum;
    width: 5em;
    height: 5em;
    margin-top: 8px;
    margin-left: 10px;
}
.ConteúMess > p{
    width: 6em;
    margin-left: 105px;
    margin-top: -25px;
    font-size: 1.2em;
    color: red;
}
.onli > p{
    width: 6em;
    margin-left: 105px;
    margin-top: -25px;
    font-size: 1.2em;
    color:greenyellow;
}
.Nomes,.onli > h1{
    width: 4em;
    margin: auto;
    display: block;
    margin-top: -90px;
    margin-left: 75px;
    padding: 28px;
}
.lado > img{
    border: 2px solid plum;
}
.icons > hr{
    border: 1px solid gray;
    width: 59.9em;
}
.inputs{
    width: 30%;
    border: 1px solid transparent;
    margin-left: 34%;
    border-radius: 20px;
    margin-top: -47em;
}
.inputs > form > div > input{
    border: 5px solid rebeccapurple;
    background: rebeccapurple;
    color: black;
    margin-top: 715px;
}
.inputs > input{
    border-radius: 20px;
    width: 10em;
    height: 1em;
}
.inputs > div{
    width: 39em;
    height: 44em;
}
.MessaNo{
    text-align: center;
    height: 3em;
    color: aliceblue;
}
.Messabr{
    padding: 1em;
}