/* Caneta */
.Penc{
    cursor: pointer;
    visibility: visible;
    width: 10em;
    font-size: 1.5em;
    display: block;
    margin: auto;
}
/*  icone do user  */

/* User */
.Apit{
    display: block;
    margin-top: 200px;
}
.API{
    width: 35em;
    text-align: left;
    margin: auto;
    color: royalblue;
    margin-top: -100px;
}

/* Seguindores */

/* BIO */   
.container{
    border: 1px solid red;
    text-align: center;
}
.hr{
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 2%;
    border: 1px solid black;
}
.container > h2{
    text-align: center;
    color: red;
    margin-top: 10px;
}
.imgi{
    border-radius: 50%;
    margin-right: 50%;
    margin-top: -0%;
}
.puse{
    margin-right: 60%;
    margin-top: 10px;
}
h3 > span{
    padding: 1em;
    font-size: 1.3em;
}
.palavr{
    border: 1px solid silver;
    background: black;
    color: tomato;
    width: 34em;
    margin-left: 32%;
    margin-top: 10px;
}
.ComeP{
    width: 60em;
    display: block;
    margin: auto;
}