.container{
    text-align: center;
}
.hr{
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 1%;
}
.imgi{
    border-radius: 50%;
    margin-right: 60%;
    margin-top: 1%;
}
.ju{
    margin-top: -4.3em;
    margin-right: 30%;
}
.puse{
    margin-right: 17%;
    margin-top: 10px;
}
h3 > span{
    padding: 1em;
}
.imgN{
    border: 1px solid salmon;
    padding: 50px;
    transition: transform .2s;
    width: 20em;
    height: 10em;
    margin: 0 auto;
}
.imgN:hover {
    transform: scale(2);
    background: black;
  }
.palavr{
    border: 1px solid silver;
    background: silver;
    width: 30em;
    margin-left: 28%;
    margin-top: 10px;
}
.Pencil{
    display: block;
    visibility: visible;
    font-size: 1.5em;
    margin-top: -33px;
    margin-left: 34em;
    cursor: pointer;
}
.API{
    width: 30em;
    display: block;
    margin-top: 20px;
    margin-left: 470px;
}
.Apit{
    display: none;
}