.container{
    text-align: center;
}
.hr{
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 1%;
}
.imgi{
    border-radius: 50%;
    margin-right: 60%;
    margin-top: 1%;
}
.ju{
    margin-top: -4.3em;
    margin-right: 30%;
}
.puse{
    margin-right: 17%;
}
h3 > span{
    padding: 1em;
}
.imgN{
    border: 1px solid salmon;
    padding: 50px;
    transition: transform .2s;
    width: 20em;
    height: 10em;
    margin: 0 auto;
}
.imgN:hover {
    transform: scale(1.5);
    background: rebeccapurple;
  }
.palavr{
    border: 1px solid silver;
    background: silver;
    width: 30em;
    margin-left: 28%;
    margin-top: 10px;
}