.Header{
    background:#021418;
    border: 1px solid gray;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    display: inline-block;
    position: fixed;
    width: 100%;
}
.Header > h1{
    font-size: 3em;
    margin-left: 14%;
}
.Container{
    border: 1px solid transparent;
    margin-top: -1px;
    margin-left: -3px;
}
form{
    display: inline-block;
    position: fixed;
    width: 42em;
    margin-left: 30%;
    margin-top: 6px;
}
input{
    width: 30em;
    height: 45px;
    margin: auto;
    display: block;
    border: 1px solid rebeccapurple;
}
input::placeholder{
    color: white;
}
ul{
    display: inline-block;
    position: fixed;
    margin-left: 70%;
    margin-top: 5px;
    color:white;
    font-size: 25px;
}
li{
    border: 1px solid transparent;
    width: 1em;
    height: 1em;
    list-style: none;
    display: inline-block;
    padding: 0.5em;
}
.ico{
    border: 1px solid transparent;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}
.Add{
    display: inline-block;
    position: fixed;
    margin-left: 23.9%;
    border: 1px solid teal;
    background: red;
    color: brown;
    width: 50em;
    height: 40em;
    margin-top: 20px;
}
.BoxC{
    display: none;
    overflow: auto;
    border: 1px solid rgb(146, 146, 146);
    background: rgb(146, 146, 146);
    width: 25em;
    height: 8em;
    margin-top: 1px;
    margin-left: 55em;
}
.heart{
    cursor: pointer;
}
input[type="checkbox"]{
    visibility: hidden;
    display: none;
}