.Header{
    font-size: 5em;
    background: rebeccapurple;
    display: inline-block;
    position: fixed;
    width: 100%;
}
.Container{
    border: 1px solid transparent;
    margin-top: -1px;
    margin-left: -3px;
}
form{
    display: inline-block;
    position: fixed;
    width: 42em;
    margin-left: 30%;
    margin-top: 30px;
}
input{
    width: 45em;
    height: 45px;
    border: 1px solid rebeccapurple;
}
button{
    width: 3.7em;
    height: 3.7em;
    border: 1px solid rebeccapurple;
    background: rgb(65, 63, 63);
}
input::placeholder{
    color: white;
}
ul{
    display: inline-block;
    position: fixed;
    margin-left: 75%;
    margin-top: 30px;
    color:white;
    font-size: 25px;
}
li{
    border: 1px solid transparent;
    width: 1em;
    height: 1em;
    list-style: none;
    display: inline-block;
    padding: 0.5em;
}
.ico{
    border: 1px solid transparent;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}
.Add{
    display: inline-block;
    position: fixed;
    margin-left: 23.9%;
    border: 1px solid teal;
    background: red;
    color: brown;
    width: 50em;
    height: 40em;
    margin-top: 20px;
}
.BoxC{
    overflow: auto;
    border: 1px solid rgb(146, 146, 146);
    background: rgb(146, 146, 146);
    width: 25em;
    height: 8em;
    margin-left: 103%;
    margin-top: -5px;
}
.inputns{
    width: 10em;
    height: 10em;
}