@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
.Header{
    background:#021418;
    position: fixed;
    margin-left: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}
.Container{
    height: 3.8em;
    width: 100%;
    margin: auto;
    display: block;
    margin-top: -5.6em;
    background: #021418;
    position: fixed;
}
form{
    border: 1px solid transparent;
    width: 15em;
    height: 36em;
    margin-left: 30em;
    position: fixed;
    display: block;
}
input{
    width: 30em;
    height: 45px;
    margin: auto;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-left: -7em;
    background: #021418;
    color: white;
    border: 2px solid rebeccapurple;
    border-radius: 0px 20px 0px 20px;
}
input::placeholder{
    color: white;
    text-align: center;
}
.ico{
    width: 1em;
    height: 1em;
    border-radius: 50%;
}
.Add{
    display: inline-block;
    position: fixed;
    border: 1px solid teal;
    background: red;
    color: brown;
    width: 50em;
    height: 20em;
    margin-left: 23.9%;
    margin-top: 100px;
}
.BoxC{
    display: none;
    overflow: auto;
    border: 1px solid rgb(146, 146, 146);
    background: rgb(146, 146, 146);
    width: 25em;
    height: 8em;
    margin-top: 58px;
    margin-left: 40em;
}
.heart{
    cursor: pointer;
}
label > input[type="checkbox"]{
    visibility: hidden;
    display: none;
}
.icone1 > ul{
    width: 30em;
    height: 36em;
    margin-left: 55em;
    margin-top: 5px;
    position: fixed;
    display: block;
}
li{
    font-size: 30px;
    border: 1px solid transparent;
    width: 1em;
    height: 1em;
    list-style: none;
    display: inline-block;
    padding: 0.5em;
}
.user{
    display: flex;
    margin-top: -62px;
    margin-left: 310px;
}
.HeaderC{
    margin: auto ; 
    display: block;
    width: 80em;
}